includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	paths:
		- log-out-shortcode.php
	fileExtensions:
		- php
	level: max
